@import "../../../scss/variables.scss";

.button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-width: 200px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 160%;
    font-weight: 600;
    gap: 12px;
    padding: 0 40px 0 12px;
}

.button__primary {
    border: 1px solid $color-black-10;
    color: $color-primary;
    transition: all 0.06s ease-in-out;
    &:hover {
        cursor: pointer;
        color: #98c88c;
        border-color: $color-black-20;
        transition: all 0.06s ease-in-out;
    }
    &:active {
        color: #58a742;
    }
}

.button__text {
    width: 100%;
    color: inherit;
}
