.button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-width: 200px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 160%;
    font-weight: 600;
    gap: 12px;
    padding: 0 40px 0 12px;
}

.button__primary {
    border: 1px solid #e5e5e5;
    color: #82b284;
    transition: all 0.06s ease-in-out;
}

.button__primary:hover {
    cursor: pointer;
    color: #98c88c;
    border-color: #cdcdcd;
    transition: all 0.06s ease-in-out;
}

.button__primary:active {
    color: #58a742;
}

.button__text {
    text-transform: uppercase;
    width: 100%;
    color: inherit;
}

.button__primary__sm {
    padding: 0;
    width: 200px;
    border: 1px solid #e5e5e5;
    color: #82b284;
}

.button__primary__sm:hover {
    cursor: pointer;
    color: #98c88c;
    border-color: #cdcdcd;
    transition: all 0.06s ease-in-out;
}

.button__primary__sm:active {
    color: #58a742;
}

.button__warning__sm {
    padding: 0;
    width: 200px;
    border: 1px solid #e5e5e5;
    color: #D95151;
}

.button__warning__sm:hover {
    cursor: pointer;
    color: #D95151;
    border-color: #cdcdcd;
    transition: all 0.06s ease-in-out;
}

.button__warning__sm:active {
    color: #D95151;
}