@import "../../scss/variables.scss";

.photo {
    display: flex;
    flex-direction: column;
    padding: 32px 40px 0;
}

.photo__section {
    padding-bottom: 32px;
    border-bottom: 1px solid $color-black-10;
}

.photo__header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 16px;
    @include uppercase;
    &__title {
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

.photo__gallery {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.photo__item {
    display: flex;
    flex-direction: column;
}

.photo__wrapper {
    position: relative;
    padding-bottom: 8px;
}

.photo__image {
    width: inherit;
    width: 160px;
    height: 160px;
    background-size: contain;
    border-radius: 2px;
}

.photo__action {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.photo__desctiption {
    margin: 0;
    padding: 0;
}

.photo__name {
    margin: 0;
    padding: 0 0 4px;
    font-size: 12px;
    line-height: 16px;
}

.photo__date {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: $color-black-50;
}

.photo__input_file {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
}
