@import "../../scss/variables.scss";

.contacts {
    display: flex;
    flex-direction: column;
    padding: 32px 40px 0;
}

.contacts__section {
    padding-bottom: 32px;
    border-bottom: 1px solid $color-black-10;
}

.contacts__icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__contacts {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 16px;
    @include uppercase;
    &__title {
        margin: 0;
        padding: 0;
        font-weight: 300;
    }
}

.contacts__form {
    font-size: 14px;

    &__item {
        display: flex;
        margin-bottom: 12px;
    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__label {
        font-weight: 300;
        width: 150px;
        margin: 0;
        padding: 0;
    }

    &__data {
        font-weight: 400;
        margin: 0;
        padding: 0;
    }
}
