@import "./variables.scss";

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__template {
    display: flex;
    // flex-direction: column;
    height: 100%;
}

.page__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 360px;
    @media (min-width: $mobile) {
        flex-direction: row;
    }
}

.page__info {
    min-width: 224px;
    width: 100%;
    background-color: $color-black-5;
    @media (min-width: $mobile) {
        position: relative;
        width: 224px;
    }
}

.page__description {
    width: 100%;
    height: 100%;
    @media (min-width: $mobile) {
        box-shadow: -2px 0 21px rgba($color: #000000, $alpha: 0.3);
    }
    z-index: 1;
}

.page__footer {
    height: 128px;
    z-index: 2;
    background-color: $color-white;
}
